{% extends "layout.html" %}

{% block content %}
{% autoescape false %}
<div class="col-md-3">
<h3>My devices</h3>
<ul class="list-group">
  {% for device in devices %}
  <li class="list-group-item"><a href="view/{{ device.device_id}}"> {{ device.name }} <span class="glyphicon glyphicon-eye-open"></span></a> 
  <a href="edit/{{ device.device_id}}"><span class="glyphicon glyphicon-cog"></span></a>
  </li>
  {% endfor %}

</ul>
</div>
<div id="graphPort" class="col-md-8">
<h3>Dashboard</h3>
</div>


{% endautoescape %}
{% endblock %}

