{% extends "layout.html" %}

{% block content %}
{% autoescape false %}

<script type="text/javascript">
var ctx, 
	jas;

$(document).ready( function(){
	ctx = document.getElementById("chart").getContext("2d");
	
	var settings = {
        // protocol RL schme
        jasApiScheme: "https",
        // host of the API
        jasApiHost: "jupiteractivesensor.appspot.com",
        // port number of the hist
        jasApiPort: 443,
        // template of the Get verb
        jasApiTemplateGet: "/API/GetTemperatureRecord/{deviceId}/{dateStart}/{dateEnd}"
    };
	jas = new JasConsole(ctx);

	if(document.URL.search("localhost") == -1){
		jas.settings = settings;
	}
	
	
	// Devices
	$('#devices>li>div>label').click(function(){
		var deviceid = $(this).attr('data-deviceid');
		console.log("Device ID " + deviceid);
		jas.loadTemperature(deviceid);
	});
	
	// Dates
	$('#setDate').click(function(){
		var dateStart = Date.parse( $("#dateStart").val());
		var dateEnd = Date.parse( $("#dateEnd").val());
		jas.setDateRange(dateStart, dateEnd);
	});
	
	// initialiser les dates
	var now = new Date();
	var today = jas.toWireString(now);
	$("#dateStart").val( today );
	$("#dateEnd").val( today );
	
	
});

</script>
<div class="row">
<div class="col-md-2">
<h3>Filters</h3>
<fieldset>
<div class="form-group">
<label for="dateStart">From :</label>
<input type="date" id="dateStart" class="form-control" />
</div>
<div class="form-group">
<label for="dateEnd">To :</label>
<input type="date" id="dateEnd" class="form-control"/>
</div>
<div class="form-group">
<a class="btn btn-default" id="setDate" role="button">Validate</a>
 </div>
 </fieldset>
<h3>Devices</h3>
<ul id="devices" class="list-group">
  {% for device in devices %}
  <li class="list-group-item">
  <div class="btn-group" data-toggle="buttons">
  <label class="btn btn-primary" data-deviceid="{{ device.device_id }}">
    <input  type="checkbox" autocomplete="off" > {{ device.name }}
  </label>
  </div>
  </li>
  {% endfor %}

</ul>
</div>
<div id="graphPort" class="col-md-10">
<h3>Dashboard</h3>
<canvas id="chart" class="col-md-10"></canvas>
</div>
</div>


{% endautoescape %}
{% endblock %}

