{% extends "layout.html" %}

{% block content %}
{% autoescape false %}
<h2>JAS REST API Documentation</h2>

<div class="panel panel-default">
	<div class="panel panel-header">
<h3>Recording data</h3>	
	</div>
	<div class="panel panel-body">
		<h4>POST /API/SetRecord/$device_id$</h4>
		<code>
		[
			{
				'sensorID' : $sensor_id$,
				'data': $data$,
				'unit': $unit$
			},
		]
	 </code>
		 <br/>
		 Array of :
	 <ul>
		 <li>$device_id$:string value of the identity number of an active device</li>
		 <li>$data$:float, value of measured data</li>
		 <li>$unit$:string, unit of the measured data<li> 
	 </ul>

	</div>
</div>
{% endautoescape %}
{% endblock %}

