{% extends "layout.html" %}

{% block content %}
{% autoescape false %}
<h2>JAS REST API Documentation</h2>

<div class="panel panel-default">
	<div class="panel panel-header">
<h3>Recording temperature data</h3>	
	</div>
	<!-- Doc Set -->
	<div class="panel panel-body">
		<h4>POST /API/SetTemperatureRecord/$device_id$</h4>
		Data load :
		<code>
		[
			{
				'sensorID' : $sensor_id$,
				'temperature': $data$,
				 'timestamp' : $datetime$
			},
		]
	 </code>
		 <br/>
		 Array of :
	 <ul>
		 <li>$device_id$:string value of the identity number of an active device</li>
		 <li>$sensorid$:string, value of the identity number ot the sensor</li>
		 <li>$data$:float, the measured temperature<li>
		 <li>$datetime$:datetime, the date and time of the measure. Automaticly added if blank.
	 </ul>
	 Return :
	 TODO
	 
	</div>
	<!-- doc get -->
		<div class="panel panel-body">
		<h4>GET /API/GetTemperatureRecord/$device_id$/$date_start$/$date_end$</h4>
        Params
<ul>
		 <li>$device_id$:string value of the identity number of an active device</li>
		 <li>$date_start$:string,  start of the period of data to return. Format : YYYYMMDD</li>
		 <li>$date_start$:string,  end of the period of data to return. Format : YYYYMMDD<li>
	 </ul>		
	Data load
		<br/> No data needed
		Return
		
		 <br/>
		 Array of :
	 
	</div>

</div>
{% endautoescape %}
{% endblock %}

